# For reading the rss feeds
feedparser

# For scraping static sites
requests

# For parsing html
beautifulsoup4

# For dynamicaly scraping pages
selenium

# For converting from html to markdown
markdownify

# For parsing dates
dateparser

# For connecting with the elasticsearch backend
elasticsearch

# For scraping tweets from twitter
searchtweets-v2

pydantic

typer
Rich
python-dotenv
tqdm
CouchDB
iocextract
python-frontmatter
openai
